@font-face {
font-family: "Hershey Kalkberg";
src: url("HersheyKalkberg-Regular.woff") format("woff"),
}




body {
  background-color: black;
  color: #00ff00;
  font-size: calc(2vw + 2vh);
  font-kerning: normal;
  font-family: "Hershey Kalkberg", Arial, sans-sans-serif;
  line-height:calc(2vw + 2.5vh);
  /* animation: glow 2s infinite; */
  display: block;
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
  overflow: hidden; /* Prevent scrollbars */



}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}


.header, .footer {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
}

a {
    text-decoration: none; /* Remove default underline */
    color: #00ff00;
}

a:hover {
      text-decoration: underline; /* Remove default underline */
}

.menu {
  display: none;
}

/* @keyframes glow {
  0% {
    text-shadow: 0 0 10px rgba(0, 255, 0, 0.5); /* Initial glow effect */
  }
  50% {
    text-shadow: 0 0 20px rgba(0, 255, 0, 0.8); /* Intermediate glow effect */
  }
  100% {
    text-shadow: 0 0 10px rgba(0, 255, 0, 0.5); /* Final glow effect */
  }
}
*/

/* Media query for minimum font size */
@media (max-height: 500px) {
  body {
    font-size: 16px; /* Minimum font size */
    line-height: 1.6; /* Adjust line height accordingly */
  }
}

.header, .lbutton, .rbutton, .footer{
  text-align: center;
  z-index: 1000;
}


.lbutton {
  position: fixed;
  top: 50%;
  left: -0.5vh; /* Adjust the left offset as needed */
  transform: translateY(-50%) rotate(-90deg); /* Rotate counterclockwise */
  z-index: 1000;
  text-decoration: none; /* Remove default underline */
}
.lbutton:hover {
  text-decoration: underline; /* Add underline on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}


.rbutton {
  position: fixed;
  top: 50%;
  right: 0vh; /* Fixed to the right edge */
  transform: translateY(-50%) rotate(90deg); /* Rotate clockwise */
  z-index: 1000;
  text-decoration: none; /* Remove default underline */
}

.rbutton:hover {
  text-decoration: underline; /* Add underline on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.colophon {
  position: absolute;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
  text-align: left;
  padding-left: 7%;
  padding-right: 7%;
  left: 0px; /* Adjust the left offset as needed */
  display: none;
  overflow: hidden;
  z-index: 999;
}

#audioPlayer {
  display: none; /* Hide the default audio player */
}

.header {
  position: fixed;
    width:100%;
    top: 8px;
    padding-bottom: 8px;

}

.footer {
  position: fixed;
  width:100%;
    bottom: 9px;
}



@media (max-width: 700px) {
  body {
    font-size: 24px; /* Minimum font size */
    line-height: 26px; /* Adjust line height accordingly */
  }

  h1 {
    font-size: 24px;
  }
  .colophon {
    padding-left: 1vh;
    padding-right: 1.5vh;
  }
  .header {
    top: 8px;
  }
  .footer {
    bottom: 9px;
  }
  .lbutton {
    left: 0px;
    display: none;
  }
  .rbutton {
    right: 0px;
    display: none;
  }

  .menu {
    position: absolute;
    display: block;
      text-align: center;
      width: 100%;
      bottom: 100px;
        text-decoration: none; /* Remove default underline */

  }
  .menu .button {
  border: none;
  cursor: pointer;
}

.menu .button:hover {
  text-decoration: underline;
}
  }

@media (max-height: 500px) {
  body {
    font-size: 22px; /* Minimum font size */
    line-height: 26px; /* Adjust line height accordingly */
  }
  h1 {
    font-size: 20px;
  }
  .menu {
    display: none;
}
.lbutton {
  display: block;
}
.rbutton {
  display: block;
}

.colophon {
  padding-left: 8%;
  padding-right: 8%;
}

}

@media (max-height: 350px) {
  body {
    font-size: 16px; /* Minimum font size */
    line-height: 18px; /* Adjust line height accordingly */
  }
  h1 {
    font-size: 16px;
  }
  .menu {
    display: none;
}
.lbutton {
  display: block;
}
.rbutton {
  display: block;
}

.colophon {
  padding-left: 8%;
  padding-right: 8%;
}

}
