@font-face {
font-family: "Hershey Kalkberg";
src: url("HersheyKalkberg-Regular.woff") format("woff"),
}




body {
  background-color: black;
  color: #00ff00;
  font-size: 3vw;
  font-family: "Hershey Kalkberg", Arial, sans-sans-serif;
  line-height:3.2vw;
}

/* Media query for minimum font size */
@media (max-height: 500px) {
  body {
    font-size: 16px; /* Minimum font size */
    line-height: 1.6; /* Adjust line height accordingly */
  }
}

.header, .lbutton, .rbutton, .footer{
  text-align: center;
}


.lbutton {
  position: fixed;
  top: 50%;
  left: 0vh; /* Adjust the left offset as needed */
  transform: translateY(-50%) rotate(-90deg); /* Rotate counterclockwise */
  z-index: 1000;
}


.rbutton {
  position: fixed;
  top: 50%;
  right: 0vh; /* Adjust the right offset as needed */
  transform: translateY(-50%) rotate(90deg); /* Rotate clockwise */
  z-index: 1000;
}



.colophon {
  position: absolute;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
  text-align: left;
  padding-left: 10vh;
  padding-right: 10vh;
  left: 0px; /* Adjust the left offset as needed */
}


.header {
  position: fixed;
    background-color: black;
    width:100%;
    top: 0px;
    padding-bottom: 8px;

}

.footer {
  position: fixed;
  width:100%;
    bottom: 0;
}


@media (max-width: 500px) {
  body {
    font-size: 26px; /* Minimum font size */
    line-height: 28px; /* Adjust line height accordingly */
  }
  .colophon {
    padding-left: 7vh;
    padding-right: 7vh;
  }
  .header {
    top: 5px;
  }
  .footer {
    bottom: 7px;
  }
  .lbutton {
    left: -36px;
  }
  .rbutton {
    right: -26px;
  }
}
