@font-face {
font-family: "Hershey Kalkberg";
src: url("HersheyKalkberg-Regular.woff") format("woff"),
}




body {
  background-color: black;
  color: #00ff00;
  font-size: 3vw;
  font-family: "Hershey Kalkberg", Arial, sans-sans-serif;
  line-height:3.2vw;
  /* animation: glow 2s infinite; */
}




.menu {
  display: none;
}

/* @keyframes glow {
  0% {
    text-shadow: 0 0 10px rgba(0, 255, 0, 0.5); /* Initial glow effect */
  }
  50% {
    text-shadow: 0 0 20px rgba(0, 255, 0, 0.8); /* Intermediate glow effect */
  }
  100% {
    text-shadow: 0 0 10px rgba(0, 255, 0, 0.5); /* Final glow effect */
  }
}
*/

/* Media query for minimum font size */
@media (max-height: 500px) {
  body {
    font-size: 16px; /* Minimum font size */
    line-height: 1.6; /* Adjust line height accordingly */
  }
}

.header, .lbutton, .rbutton, .footer{
  text-align: center;
}


.lbutton {
  position: fixed;
  top: 50%;
  left: -0.5vh; /* Adjust the left offset as needed */
  transform: translateY(-50%) rotate(-90deg); /* Rotate counterclockwise */
  z-index: 1000;
}


.rbutton {
  position: absolute;
  top: 50%;
  right: 0vh; /* Fixed to the right edge */
  transform: translateY(-50%) rotate(90deg); /* Rotate clockwise */
  z-index: 1000;
  text-decoration: none; /* Remove default underline */
}

.rbutton:hover {
  text-decoration: underline; /* Add underline on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.colophon {
  position: absolute;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
  text-align: left;
  padding-left: 7%;
  padding-right: 7%;
  left: 0px; /* Adjust the left offset as needed */
}


.header {
  position: fixed;
    background-color: black;
    width:100%;
    top: 8px;
    padding-bottom: 8px;

}

.footer {
  position: fixed;
  width:100%;
    bottom: 9px;
}


@media (max-width: 700px) {
  body {
    font-size: 24px; /* Minimum font size */
    line-height: 26px; /* Adjust line height accordingly */
  }

  h1 {
    font-size: 24px;
  }
  .colophon {
    padding-left: 1vh;
    padding-right: 1.5vh;
  }
  .header {
    top: 8px;
  }
  .footer {
    bottom: 9px;
  }
  .lbutton {
    left: 0px;
    display: none;
  }
  .rbutton {
    right: 0px;
    display: none;
  }

  .menu {
    position: relative;
    display: block;
    top: 0px;
  }
}
